/* Empty. Add your own CSS if you like */
.angular-google-map-container { 
  height: 100%; 
}

.no-padding {
    padding: 0px !important;
}

.no-margin {
  margin: 0 !important;
}

.card-margin {
  margin-top: 5px;
  margin-bottom: 0px;
  margin-right: 7px;
  margin-left: 7px;
}

.marker-labels {
  width: 160px;
  padding: 10px;  
  background: #fff;
  border-radius: 5px;
}

.text-overlay-left {
  position: absolute;
  left: 5%;
  top: 10%;
}

.speaker-overlay {
  position: absolute;
  left: 5%;
  top: 5%;
}

.date-info-overlay {
  position: absolute;
  left: 3%;
  top: 5%;
}
.text-overlay-right {
  position: absolute;
  left: 55%;
  top: 10%;
}

/* https://forum.ionicframework.com/t/ionic-list-item-with-ng-click-and-option-buttons/5078/7 */
.list-left-editing .item{
pointer-events: initial;
}

#map{
    width:100%;
    height:100%;
}
/*
.list-right-editing .item{
pointer-events: initial;
}
*/

.glabel {
    color: #4A89DC;
 	font-weight: bold;
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
}