<div class="bar bar-header">
    <button ng-hide="inConfigPage" class="button button-stable icon ion-ios-gear" ng-click="goConfig();">지역설정</button>
    <button ng-show="inConfigPage" class="button button-stable icon ion-information-circled" ng-click="showAbout();">앱정보</button>
    <h1 ng-show="isWebView" class="title">{{title}}</h1>
    <h2 ng-hide="isWebView" class="title">{{title}}</h2>
    <!-- <a class="button icon ion-earth" href="#/map">지도보기</a> -->     
    <a class="button button-stable icon ion-earth" href="#/map">날씨지도</a>
</div>

<ion-content class="has-header">
  

<ion-slide-box on-slide-changed="slideHasChanged($index)">     
  <ion-slide ng-repeat="item in locs">
    <ion-scroll ng-if="!isIOS || $index==currentSlide" direction="y" scrollbar-x="false"  style="width: 100%; height: 100%;" >
    <ion-refresher
    pulling-text="당기서 업데이트! (최근 업데이트: {{updatedTimeAgo}})"
    on-refresh="loadLocMeta()">
  </ion-refresher>

       <div class="card card-margin"> 
         <!-- 
          <h3>{{item.city}} {{item.region}}     
            <small>
              <button ng-show="loc_meta[$index].sound.canPlay" ng-click="tts(loc_meta[$index]);" 
                class="button icon ion-speakerphone"></button>
            </small>
          </h3>
        -->

        <div class="row">
        
          <div class="col col-50 text-center">
            <!-- 
            <div class="text-overlay-left"> <small>업데이트: {{updatedTimeAgo}}</small> </div>
          -->
            <weather-card weather="loc_meta[$index].data.weather">?</weather-card>
          </div> <!-- col-50 -->

          <div class="col col-50 text-center">
            <air-card air="loc_meta[$index].data.air" 
              airpred="loc_meta[$index].data.airpred"></air-card>
          </div> <!-- col-50 -->
        </div> <!-- row -->  
      </div>   <!-- card -->

   
      <!-- no POS -->   
      <ion-scroll ng-if="loc_meta[$index].data.weatherprediction[0].POP==undefined" 
          direction="x" scrollbar-y="false" 
          style="width: 100%; height: 75px;">
        <div style="width: 850px; height: 100%;" 
            on-touch="mouseoverWideDiv()" on-release="mouseleaveWideDiv()"> 
            <weather-forcast shortpred="loc_meta[$index].data.wnowprediction"
              longpred="loc_meta[$index].data.weatherprediction">
            </weather-forcast> 
        </div>
      </ion-scroll>       

      <!-- with POS -->
      <ion-scroll ng-if="loc_meta[$index].data.weatherprediction[0].POP!=undefined" 
          direction="x" scrollbar-y="false" 
          style="width: 100%; height: 95px;">
        <div style="width: 777px; height: 100%;" 
            on-touch="mouseoverWideDiv()" on-release="mouseleaveWideDiv()"> 
            <weather-forcast shortpred="loc_meta[$index].data.wnowprediction"
              longpred="loc_meta[$index].data.weatherprediction">
            </weather-forcast> 
        </div>
      </ion-scroll>       

    <!-- 시집 box-->
    <div class="box">
      <div class="item item-text-wrap">
      <a class="icon ion-ios-compose" href="#/poem"></a>
       <!--  눈이 소리없이 내린다. 눈이 징소리처럼 올라간다. - 이경임의 측제 - -->
      {{loc_meta[$index].data.weather.poem}} 
      </div>
      <!-- 
      <div class="item item-text-wrap">
        This is a basic Card with some text.
      </div>
      <div class="item item-divider">
        I'm a Footer in a Card!
      </div>
    -->
    </div> <!-- box -->

    <!-- 날씨 한마디 -->
    <form ng-submit="addTalk(loc_meta[$index]);">
    <ion-list>
        <ion-item class="item-input-inset">
          <label class="item-input-wrapper">
            <input ng-model="talk.msg" ng-maxlength="80" type="text" 
              placeholder="{{item.region}} 날씨/공기에 대해..."/>
          </label>
          <button class="button button-positive button-small">
            한마디!
          </button>
        </ion-item>
       
    
      <ion-item ng-repeat="talk in loc_meta[$index].talks"> 
          <img ng-src="img/av{{-talk.timestamp%12}}.png" height="24">
          {{talk.msg}}
          <span class="item-note">{{-talk.timestamp | timeAgo}}</span>
    
      </ion-item>
      <ion-item ng-show="loc_meta[$index].talks.length==10">
        <i class="icon ion-information-circled button button-clear button-positive" disabed> 최신 10개의 메시지만 보여 줍니다. </i>
      </ion-item>
    </ion-list>
   </form>
  <ion-scroll>
</ion-slide>

<!-- New Conf slide -->    
<ion-slide>
  <!-- Address input -->
  <div class="list" ng-if="!isIOS || inConfigPage">
      <div class="card"> 
        <label class="item item-input item-select">
          시도선택
           <select ng-model="addform.state" ng-change="getCities();">
              <option ng-repeat="state in stateNames">{{state}}</option>
            </select>
          
        </label>

      <div class="row" ng-show="addform.loaded">
        <div class="col  no-padding">
          <label class="item item-input item-select">
            시구
            <select ng-model="addform.city" ng-change="getRegions();">
              <option ng-repeat="city in cities">{{city.$id}}</option>
            </select>
          </label>
        </div>

        <div class="col no-padding"> 
          <label class="item item-input item-select">
            동
            <select ng-model="addform.region">
              <option ng-repeat="(region, regionInfo) in regions">{{region}}</option>
            </select>
          </label>
        </div>
      </div>

      <button ng-show="addform.region" ng-click="addCity();" 
              class="button button-block button-positive ion-android-add-circle">
        추가하기
      </button>

      <button ng-show="!addform.region" ng-click="addCity();" disabled 
              class="button button-block button-positive ion-information-circled">
        시/도/동을 먼저 선택 하세요.
      </button>

    </div>
  </div>

  <!-- scroll the list of cities -->
  <ion-scroll ng-if="!isIOS || inConfigPage">
    <ion-list 
          show-delete="true"
          show-reorder="true"
          can-swipe="false">

        <ion-item ng-repeat="item in locs" ng-click="goSlide($index)"
            class="item-thumbnail-left">
  
          <img ng-src="img/s{{loc_meta[$index].data.weather | skyindex}}_c{{loc_meta[$index].data.air.khaiValue | kindex}}.png" ng-click="goSlide($index)">

          <!-- <a href="#" ng-click="goSlide($index);"> -->
          <h2>{{item.city}} {{item.region}}</h2>
          <p>{{loc_meta[$index].data.weather | sky}}
                        {{loc_meta[$index].data.weather.T1H}}&#x2103;
            <span ng-show="loc_meta[$index].data.weather.PTY==0">
              (습도 {{loc_meta[$index].data.weather.REH}}%)
            </span>
            <span ng-show="loc_meta[$index].data.weather.PTY==1 || loc_meta[$index].data.weather.PTY==2">
              (강수량 {{loc_meta[$index].data.weather.RN1}}mm)
            </span>
            <span ng-show="loc_meta[$index].data.weather.PTY==3">
              (눈내림 {{loc_meta[$index].data.weather.RN1}}mm)
            </span>

          </p> 
          <p>통합대기{{loc_meta[$index].data.air.khaiValue|khai}}
            ({{loc_meta[$index].data.air.khaiValue}})</p>
        
          <ion-delete-button class="ion-minus-circled"
                             ng-click="remove($index, item);">
          </ion-delete-button>
          <ion-reorder-button class="ion-navicon"
                              on-reorder="reorder(item, $fromIndex, $toIndex)">
          </ion-reorder-button>

        </ion-item>
      </ion-list>
    <ion-scroll>
  </ion-slide>

</ion-slide-box>
</ion-content>
</div>


<div ng-if="isWebView">
  WebView
<script ng-if="isWebView">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-73628928-1', 'auto');
  ga('send', 'pageview');
</script>
</div>