  <html ng-app="starter">
 
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title>&#xC2DC;&#xC640; &#xB0A0;&#xC528;</title>


    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="lib/angular-toastr/dist/angular-toastr.css" rel="stylesheet">

    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="cordova.js"></script>


    <!-- Firebase -->
    <script src="lib/firebase/firebase.js"></script>

    <!-- AngularFire -->
    <script src="lib/angularfire/dist/angularfire.min.js"></script>

    <script src="lib/ngstorage/ngStorage.min.js"></script>

    <!-- Time ago -->
    <script src="lib/angular-timeago/dist/angular-timeago.js"></script>

    <script src="lib/angular-audio/app/angular.audio.js"></script>

    <script src="lib/angular-google-maps/dist/angular-google-maps.min.js"></script>
    <script src="lib/angular-simple-logger/dist/angular-simple-logger.js"></script>
    
    <script src="lib/lodash/dist/lodash.js"></script>
    <script src="lib/angular-filter/dist/angular-filter.js"></script>
    <script src="lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>

    <script src="js/app.js"></script>
    <script src="js/factory.js"></script>
    <script src="js/filters.js"></script>

    <script src="js/mainCtrl.js"></script>
    <script src="js/mapCtrl.js"></script>
    <script src="js/pCtrl.js"></script>

</head>
 
<body ng-controller="MapCtrl">
  
<style>

.slider { height: 100%; text-align: center }
.scroll { height: 100% }

</style>
  
  <div class="bar bar-header">
    <a class="button icon ion-thermometer" ng-click="loading('날씨정보를 읽고있습니다.');" ng-href="#/">날씨보기</a>
    <h1 class="title">날씨 공기 지도</h1>
  </div>

<ion-content class="has-header">
        <ui-gmap-google-map center='map.center' zoom='map.zoom' events="map.markersEvents">

<!--
          <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id" closeClick="hideMarkerPopup()" onClicked="showMarkerPopup()">
          </ui-gmap-marker>   
-->
 <!--  https://github.com/angular-ui/angular-google-maps/blob/master/example/example.html -->
  <!-- predefined markers -->
        <!-- rendering via ng-repeat, HIGH OVERHEAD via DOM Manipulation -->
        <!--
        <ui-gmap-marker ng-repeat="m in map.markers" coords="m" icon="m.icon" click="onMarkerClicked(m)" idKey="m.id" options="m.options">
            <ui-gmap-window ng-cloak  coords="m.coords" isIconVisibleOnClick="false" options="map.infoWindowWithCustomClass.options">
                    <p>This is an info window at {{ m.latitude | number:4 }}, {{ m.longitude | number:4 }}!</p>
                    <p class="muted">My marker will stay open when the window is popped up!</p>
            </ui-gmap-window>
        </ui-gmap-marker>
      -->
           <ui-gmap-marker ng-repeat="m in alldata" 
              models="m" idkey="m.id" coords="m.coords" icon="m.icon" options="m.options">
              <!-- labelClass:'marker_labels',labelAnchor:'12 60',labelContent:'title' -->
               <ui-gmap-window ng-cloak show="m.showWindow" closeClick="m.closeClick">
                <div>
                  <div class="text-center">
                    <h5>{{m.loc.city}} 
                      {{m.loc.region}}
                    </H5>
                    <h4>{{m.weather.T1H}}&#x2103;
                    <small>습도: {{m.weather.REH}}%</small></h4> 
                    <H4>공기 {{m.air.khaiValue|khai}} ({{m.air.khaiValue}})</H4>
                    <p>미세먼지 {{m.air.pm10Value|pm10}}({{m.air.pm10Value}})<p>
                    <p ng-show="m.air.pm25Grade">
                    초미세먼지 {{m.air.pm25Value|pm25}} ({{m.air.pm25Value}})</p>

                    <button ng-hide="m.added" ng-click="$parent.addMapLoc($parent.m);m.added=true;" class="button button-positive icon-left ion-android-add-circle">
                    지역추가
                    </button>

                    <button ng-show="m.added"  class="button button-positive icon-left ion-checkmark-round" disabled>
                    추가 되었습니다.
                    </button>
                
                  </div>
                </div>
              </ui-gmap-window>
          </ui-gmap-marker>   
         
     
        </ui-gmap-google-map>
</ion-content>
<!--
    <ion-view view-title="Google Maps V3 example 2">  
    
      <ion-content data-tap-disabled="true">
    
        <ui-gmap-google-map center='map.center' zoom='map.zoom' events="map.markersEvents">
          <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id" closeClick="hideMarkerPopup()" onClicked="showMarkerPopup()">
          </ui-gmap-marker>   

          <ui-gmap-marker coords="marker2.coords" options="marker.options" events="marker.events" idkey="marker2.id" closeClick="hideMarkerPopup()" onClicked="showMarkerPopup()">
          </ui-gmap-marker>   
     
        </ui-gmap-google-map>
        
      </ion-content>
      
    </ion-view>
-->


  <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyBq3fv6yaRZUsI5dIbqwtdrBoDA6WVeVO8"></script>
</body>
</html>

