  <div class="bar bar-header">
    <a class="button button-stable icon ion-thermometer" ng-href="#/">날씨보기</a>
    <h1 class="title">시와 날씨 입력</h1>
    <a class="button button-stable icon ion-earth" href="#/map">날씨지도</a>
  </div>

<ion-content class="has-header">
  <div class="list">

 <div class="item item-input-inset">
            <label class="item-input-wrapper">
              <input ng-model="poem.msg" type="text" placeholder="(필수항목) 날씨/공기와 어울리는 시">
            </label>
          </div>

          <div class="item item-input-inset">
            <label class="item-input-wrapper">
              <input ng-model="poem.author" type="text" placeholder="(필수항목) 작가">
            </label>
          </div>

          <div class="item item-input-inset">
            <label class="item-input-wrapper">
              <input ng-model="poem.title" type="text" placeholder="(선택) 시제목">
            </label>
          </div>

           <div class="item item-input-inset">
            <label class="item-input-wrapper">
              <input ng-model="poem.poster" type="text" placeholder="(선택) 올린이 이름/이메일">
            </label>
          </div>


<div class="item item-input item-select">
       날씨선택 
           <select ng-options="w as w for w in weather" 
              ng-model="poem.weather"></select>
</div>
            

           <div class="item item-input-inset">
           <button ng-click="addPoem();" class="button button-block button-positive">
           저장          </button>
          </div>

        <ion-list>
          <ion-item ng-repeat="poem in poemList">
            <img ng-show="poem.sky" ng-src="img/s{{poem.sky}}.png" height="24"> 
            {{poem.msg}}
            <span class="item-note">{{poem.author}} {{-poem.timestamp | timeAgo}}</span>
          </ion-item>
        </ion-list>

</ion-content>

